    <md-tabs class="md-primary" md-swipe-content>
        <md-tab id="tab1">
            <md-tab-label>OVERVIEW</md-tab-label>
            <md-tab-body>
                View for Item #1 <br/>
            </md-tab-body>
        </md-tab>
        <md-tab id="tab2">
            <md-tab-label>GRAPHS</md-tab-label>
            <md-tab-body>
                View for Item #2 <br/>
            </md-tab-body>
        </md-tab>
        <md-tab id="tab3">
            <md-tab-label>PROCESS</md-tab-label>
            <md-tab-body>
                View for Item #3 <br/>
            </md-tab-body>
        </md-tab>
    </md-tabs>
